# BST281 Final Project Pipeline

Group 2  
Dongyuan Song, Siquan Wang, Xutao Wang, Linying Zhang

## Set Up
Import packages; set working direcotries.

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rcParams
rcParams['pdf.fonttype'] = 42
rcParams['font.sans-serif'] = 'Arial'
import warnings
warnings.filterwarnings("ignore")
import urllib3
urllib3.disable_warnings()
import rpy2
import rpy2.robjects as robjects
from rpy2.robjects.packages import importr

In [2]:
current_path = os.getcwd()
print(current_path)

C:\Users\songdongyuan\group02_final_project_packet

Set working directory. Default is this package folder.

In [3]:
os.chdir(current_path)

Enable using R in Jupyter notebook.

In [4]:
%load_ext rpy2.ipython

## RNA-seq analysis

In [5]:
expr_df = pd.read_csv("expressionFile_counts_MM.csv")

In [6]:
expr_df = expr_df.set_index(expr_df.columns[0])
expr_df.head()

,..NM89_RPMI_salmon.quant.sf,..NM90_RPMI_HS5_salmon.quant.sf,..NM91_MM1S_salmon.quant.sf,..NM92_MM1S_HS5_salmon.quant.sf,..NM95_KMS11_salmon.quant.sf,..NM96_KMS11_HS5_salmon.quant.sf
Name,,,,,,
5_8S_rRNA,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
5S_rRNA,6.45945,21.44398,10.03000,10.11391,0.00000,1.01000
7SK,3.03000,3.26734,0.78000,0.00000,0.00000,2.78045
A1BG,980.97371,1196.18930,38.39037,79.96080,4.68050,20.19474
A1BG-AS1,944.94700,1099.25405,3.76547,21.01000,1.84924,2.56537

### Quality Control
Filter out none or low expressed genes.

In [7]:
print(expr_df.shape)

(58671, 6)

Here we only keep genes which counts are larger than 1 in each samples.

In [8]:
mask_low_vals = (expr_df > 0).sum(axis=1) == 6
expr_df = expr_df.loc[mask_low_vals, :]
print(expr_df.shape)

(22366, 6)

Save the result in working directory.

In [9]:
expr_df.to_csv('filtered.tsv',sep='\t')

In [13]:
!Rscript test.r $WORKDIR

Setting WORKDIR to: $WORKDIR

Error in setwd(WORKDIR) : 无法改变工作目录
停止执行